* {
    box-sizing: border-box;
}

h1,h2,h3, ul, ol, p, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: gray;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

body {
    position: relative;
}

.box {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.475);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form {
    width: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.btnLog {
    width: 50%;
    height: 40px;
    background-color: blue;
    color: #fff;
}
/* 
    df
    aic
    jcc
*/
#log {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.nick {
    font-size: 24px;
    color: white;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.nick:hover {
    color: crimson;
}

.ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.out {
    background-color: black;
    padding: 7px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease; 
}

.out:hover {
    background-color: white;
    color: black;
}


.bug {
    position: relative;
    background-image: url('./img/bug.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.bugCount {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filterBox {
    flex-basis: 30%;
    padding: 10px;
    margin-right: 30px;
}

#products {
    padding: 25px;
    flex-basis: 65%;
}

#categories {
    display: flex;
    justify-content: space-between;
}

.categories {
    border: none;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.4s ease;
}

.categories:hover {
    background-color: white;
    color: black;
}

.categories:not(:last-child) {
    border-right: 1px solid white;
}

#range {
    position: relative;
}


#range::after {
    content: "0";
    position: absolute;
    top: -5px;
    left: 0px;

}

#range::before {
    content: "5";
    position: absolute;
    top: -5px;
    right: 0px;
}

.active {
    background-color: gray;
}

#productResult {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.productBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    flex-basis: 27%;
    margin-bottom: 20px;
}

.foto {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    object-fit: contain;
}

.title {
    font-size: 16px;
    margin-bottom: 20px;
}

.desc {
    font-size: 10px;
    margin-bottom: 20px;
}

.rating {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}